<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'Clock - objectifs S06E01</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="logo">
        <h3>Oclock<span class="rond"></span></h3>
        <h4>Saison 6 - Journée 1 - Express View</h4>
    </div>
    <div class="content">
        <div class="objectifs">
            <h2>Objectifs</h2>
            <ul>
                <li>Hello, comment vont nos pizza codeurs ? :)</li>
                <li>Revenir sur les notions clients/serveurs</li>
                <li>Dynamisons nos projets en utilisant des templates EJS</li>
                <li>Installation d'EJS</li>
                <li>Découpage d'un projet (SOC) - Séparation de la Logique / et des Vues</li>
                <li>Utilisation de la fonction include pour créer des vues partielles</li>
                <li>Ajout des assets (CSS/JS côté client/Images etc.)</li>
            </ul>
        </div>
        <div class="notions">
            <h2>Notions</h2>
            <ul>
                <li>Installer le moteur EJS</li>
                <li>Utiliser res.render()</li>
                <li>Manipuler les locals dans les vues</li>
                <li>Découper une vue en plusieurs fichiers</li>
                <li>Afficher des variables avec <%= %></li>
                <li>Ajouter la logique avec <% %></li>
            </ul>
        </div>
    </div>
</body>
</html>